[submodule "JavaScript-Implementation"]
	path = JavaScript-Implementation
	url = https://github.com/MateusRoscoe/URL-Shortener-JS.git
[submodule "Rust-Implementation"]
	path = Rust-Implementation
	url = https://github.com/MateusRoscoe/ShortenerAPI.git
